<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>City Reviewer</title>
    <link href="/css/bootstrap.css" rel="stylesheet" />
    <link href="/css/custom.css" rel="stylesheet" />

  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            City Reviewer
          </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active">
              <a href="/">Cities</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <!-- If the user is logged in, show a logout button -->
              {{#if loggedIn}}
                <a id="logout">Logout</a>
              {{else}}
                <!-- Otherwise, show a link to login -->
                <a href="/login">Login</a>
              {{/if}}
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Content -->
    <main>
      {{{body}}}
    </main>

    <footer>
      <div class="row">
        <div class="col-lg-12">
          <p>Copyright &copy; Steven Dong, Shiby Mathew, Connor McNaught, Adam
            Shalala</p>
        </div>
      </div>
    </footer>

    <!-- If the user is logged in, load the JS script for when they logout -->
    {{#if loggedIn}}
      <script src="/js/logout.js"></script>
    {{/if}}

    <script src="/js/jquery-1.11.3.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

  </body>

</html>