<!-- Content -->
<div class="container">
    <!-- Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">City Reviewer
                <small>city guides in one place</small>
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <!-- Comment Form -->
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2>Add a Comment</h2>
            <form class="submit_form" method="POST">
                <div class="comment-form">
                    <label for="comment">Title:</label>
                        <textarea class="form-control" id="title" name="title" rows="5" required></textarea>
                    </select>
                </div>
                <input type="hidden" name="cityId" id="cityId" value="{{cityId}}">
                <div class="comment-form">
                    <label for="comment">Comment:</label>
                    <textarea class="form-control" id="comment" name="comment" rows="5" required></textarea>
                </div><br>
                <div class="comment-form">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-default" onclick="location.href='{{url}}'">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/js/comment.js"></script>