<div class="container">
    <section class="text-center">
      <form id="logInForm" class="form-signin login-form">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        {{#if message}}
        <div class="alert alert-danger" role="alert">{{message}}</div>
        {{/if}}
        <label for="email-login" class="sr-only">Email address</label>
        <input type="email" id="email-login" name="email" class="form-control" placeholder="Email address" required="" autofocus="">
        <label for="password-login" class="sr-only">Password</label>
        <input type="password" id="password-login" name="password" class="form-control" placeholder="Password" required="">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
      <p class="text-center">Don't have an account yet?</p>
      <a href="/api/user/signup" class="btn btn-lg btn-secondary btn-block">Sign up</a>
    </section>
</div>
<script src="/js/login.js"></script>