
       <div class="container">
        <section class="text-center">
            <form class="form-signin signup-form" id="signUpForm">
                <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>
                <label for="username-signup" class="sr-only">Username</label>
                <input type="text" id="username-signup" class="form-control" placeholder="Username" required="" autofocus="">

                <label for="email-signup" class="sr-only">Email address</label>
                <input type="email" id="email-signup" class="form-control" placeholder="Email address" required="">

                <label for="password-signup" class="sr-only">Password</label>
                <input type="password" id="password-signup" class="form-control" placeholder="Password" required="">

                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
            </form>
        </section>
    </div>
<script src="/js/signup.js"></script>